.main-container {
  background-image: linear-gradient(#9ba9eb, #c3caea);
  min-height: 100vh;
  padding: 50px;
  font-family: 'Roboto';
}

.add-password-container {
  background-color: #5763a5;
  border-radius: 15px;
  padding: 20px;
  margin: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-password-heading {
  color: #f8fafc;
  font-size: 30px;
  margin: 25px;
  font-weight: 500;
}

.user-input-container {
  background-color: #454f84;
  border-radius: 15px;
  padding: 40px;
  width: 80vw;
  margin: 40px;
}

.app-logo-image {
  width: 15%;
  margin-left: 30px;
}

.input-container {
  display: flex;
  background-color: white;
  height: 40px;
  width: 92%;
  margin-left: 10px;
  margin: 20px;
  border-radius: 5px;
  justify-content: space-around;
}

.icon-style {
  height: 20px;
  width: 20px;
  margin: 10px;
}

.input-style {
  width: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: 1px #c3caea solid;
  outline: none;
  color: grey;
  font-weight: bold;
  font-size: 15px;
}

.password-manager-image {
  width: 75%;
  margin-left: 15%;
}

.show-password-container {
  background-color: #5763a5;
  border-radius: 15px;
  padding: 20px;
  margin: 30px;
}

.add-button-container {
  display: flex;
  justify-content: flex-end;
}

button {
  background-color: #0b69ff;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  height: 40px;
  width: 80px;
  padding: 5px;
  font-size: 15px;
  cursor: pointer;
}

.top-container {
  display: flex;
  justify-content: space-between;
}

.count-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.count-display {
  border: 1px white solid;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 2px;
  margin-top: 23px;
  width: 30px;
  text-align: center;
}

.search-box-container {
  display: flex;
  background-color: white;
  height: 40px;
  margin-top: 30px;
  margin-right: 30px;
}

.search-icon-style {
  height: 20px;
  width: 20px;
  margin: 10px;
}

hr {
  width: 95%;
  margin-top: 20px;
  border: 1px #b6c3ca solid;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.check-box-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.check-box {
  margin-right: 10px;
  height: 20px;
  width: 20px;
}

label {
  color: white;
  font-weight: 600;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.no-passwords-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-passwords-image {
  width: 50%;
}
